<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
  <title>Forwind | <%= @context%></title>
  <%= stylesheet_link_tag('forwind') %>
  </head>
    <body>
	   	<div id="form_crumb_trail_container">
           <%= render(:partial => "shared/crumb_trail") %> 
           <div id="form_inner_container">
           <hr>
	       <%= render(:partial => "shared/current/tabs") %> 
           <hr>
           <%= @content_for_layout %>
		</div>  
	</div>  
   </body>
</html>
     