<div id="tabs">

<div id="logo">
<a href="/"><img src= <%= File.join(@s3_images, "index", "forwind_logo.gif") %> alt="forwind"></a>
</div>

<hr/>

<div class="music_menu_link">

<ol id="nav">
  <li>
<%= link_to_if( not_in_context("releases", nil, "index"), "RELEASES", { :controller => "releases" }) %>
    <ol>
      <li><%= link_to_if( not_in_context("releases", nil, "current"), "CURRENT", { :controller => "releases", :action => "current" }) %></li>
      <li><%= link_to_if( not_in_context("releases", "index"), "CATALOGUE", { :controller => "releases", :action => "index" }) %></li>
      <li></li>
    </ol>
  </li>
<li>
<%= link_to_if( not_in_context("artists", nil, "index"), "ARTISTS", { :controller => "artists" }) %>
  </li>

  <li>
<%= link_to_if(not_in_context("podcasts", nil, "index"), "PODCASTS", { :controller => 'podcasts', :action => 'index'}) %>
    <ol>
      <li><%= link_to_if( not_in_context("podcasts", nil, "current"), "CURRENT", { :controller => "podcasts", :action => "current" }) %></li>
      <li><%= link_to_if( not_in_context("podcasts", "index"), "ARCHIVE", { :controller => "podcasts", :action => "index" }) %></li>
      <li></li>
	  </ol>
</li>
  <li>
<%= link_to_if(not_in_context("blog_posts"), "NEWS", { :controller => 'blog_posts'}) %></li>

  <li>
<%= link_to_if(not_in_context("home", nil, "about"), "ABOUT", { :controller => 'home', :action => "about" }) %>
</li>
</ol>

</div>

<hr/>
</div>

