<section class="content-block">
    <% @artists.each_slice(2) do |artists| %>
        <div class="column-container column-container__2-cols"> 
            <figure class="column-block column-block__figure">
                <a href=<%= "/artists/#{artists[0].slug}" %>>
                    <img src= <%= File.join(@s3_images, "artists", artists[0].image) %>
                </a> 
                <figcaption class="figcaption">
                    <a href="<%= "/artists/#{artists[0].slug}" %>">
                        <span class="text-title"><%= artists[0].name %></span>
                        <span class="text-title"><%= artists[0].location %></span>
                    </a>
                </figcaption>  
            </figure>
            <% unless artists.size != 2 %>
                <figure class="column-block column-block__figure">
                    <a href=<%= "/artists/#{artists[1].slug}" %>>
                        <img src= <%= File.join(@s3_images, "artists", artists[1].image) %>
                    </a> 
                    <figcaption class="figcaption">
                        <a href="<%= "/artists/#{artists[1].slug}" %>">
                            <span class="text-title"><%= artists[1].name %></span>
                            <span class="text-title"><%= artists[1].location %></span>
                        </a>
                    </figcaption>  
                </figure>
            <% end %>
        </div>
    <% end %>    
</section>

