<article class="column-container column-container__article">
    <section class="column-block column-block__main-content">
        
        <div class="content-block content-block__banner">
            <figure>
                <img class="artist" src=<%= File.join(@s3_images, "artists", @artist.image) %>>
            </figure>
        </div>

            <aside class="column-block column-block__aside">
            <!-- 
                We duplicate this banner to show/hide it for mobile view
                so we can keep the flex-box layout and avoid messy abstraction    
            -->
            <div class="content-block content-block__banner">
                <figure class="artist_mobile">
                    <img src=<%= File.join(@s3_images, "artists", @artist.image) %>>
                </figure>
            </div>        
        </aside>

        <div class="content-block content-block--article">
            <h3 class="heading heading--article-title">
                <%= @artist.name %>
            </h3>
            <p><%= @artist.description.html_safe %></p>
        </div>

<section class="content-block">
    <div class="column-container column-container__2-cols">
        <div class="column-block">
            <table>
                <tbody>       
                <tr>
                    <td>
                        <h2 class="heading heading--content-block">Artist</h2>
                    </td>
                    <td>
                        <h2 class="heading heading--content-block"><span class="biography"><%= @artist.name %></span></h2>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h2 class="heading heading--content-block">Location</h2>
                    </td>
                    <td>
                        <h2 class="heading heading--content-block"><span class="biography"><%= @artist.location %></span></h2>
                    </td>
                </tr>
                <% unless @artist.active %>
                <tr>
                    <td>
                        <h2 class="heading heading--content-block">Active</h2>
                    </td>
                    <td>
                        <h2 class="heading heading--content-block"><span class="biography"><%= @artist.start_date.year.to_s + " - " + @artist.end_date.year.to_s %></span></h2>
                    </td>
                </tr>
                <% else %>
                <tr>
                    <td>
                        <h2 class="heading heading--content-block">Active</h2>
                    </td>
                    <td>
                        <h2 class="heading heading--content-block"><span class="biography"><%= @artist.start_date.year.to_s + " - " + DateTime.now.year.to_s %></span></h2>
                    </td>
                </tr>
                <% end %>
        </tbody>
    </table>
</br></br>
        </div>

        <div class="column-block">
            <h2 class="heading heading--content-block">
                Releases on Forwind
                <% @artist.releases.each do |rel| %>
                    <span class="biography"><a href="<%= "/releases/" + rel.cat.downcase %>"><%= rel.title + " - " + rel.cat %></a></span>
                <% end %>
            </h2>

            <h2 class="heading heading--content-block">
                Related Links
                <% @artist.links.each do |link| %>
                    <span class="biography"><a href=<%= link.location %>><%= external_link_trimmer(link.location) %></a></span>
                <% end %>
            </h2>
        </div>
    </div>
</section>

</article>
