<article class="column-container column-container__article">
    <section class="column-block column-block__main-content">
        <div class="content-block content-block__banner">
            <figure>
                <a href= <%= File.join(@s3_images, "artists", @artist.image) %> class="gallery" >
                    <img src=<%= File.join(@s3_images, "artists", @artist.image) %>>
                </a>
            </figure>
        </div>
    
        <div class="content-block content-block--article">
            <p><%= @artist.description.html_safe %></p>
        </div>
        <div class="content-block aside__widget">
            <span class="text-title">ARTIST <%= @artist.name %></span>
			<span class="text-title">LOCATION <%= @artist.location %></span>
			<% unless @artist.active %>
				<span class="text-title">WHEN <%= @artist.start_date.year.to_s + " - " + @artist.end_date.year.to_s %></span>  
			<% else %>
				<span class="text-title">WHEN <%= @artist.start_date.year.to_s + " - " + DateTime.now.year.to_s %></span>  
			<% end %>				
		</div>

		<div class="content-block content-block--title-heading">
            <h1>
                <span class="text-title">Previous Releases</span>
            </h1>    
        </div>
        <div class="content-block aside__widget">
			<% @artist.releases.each do |rel| %>
				<span class="text-title"><a href="<%= "/releases/" + rel.cat %>"><%= rel.title + " - " + rel.cat %></a></span>
			<% end %>
		</div>
		<div class="content-block content-block--title-heading">
            <h1>
                <span class="text-title">Related Links</span>
            </h1>    
        </div>
        <div class="content-block aside__widget">
			<% @artist.links.each do |link| %>
				<span class="text-title"><a href=<%= link.location %>><%= external_link_trimmer(link.location) %></a></span>
			<% end %>
		</div>		
	</section>

</article>

