<div id="content_container">

<div id="container_2grid_left">

	<img src=<%= File.join(@s3_images, "artists", @artist.image) %>>
		<br/><br/>
		<div class="artist_desc">
		<p>
		<%= @artist.description.html_safe %></p>
		</div>
</div>


<div id= "container_1grid_right">


	<dl>
	    <dt>ARTIST :</dt>
	    <dd><%= @artist.name.mb_chars.upcase.to_s %></dd>

	    <dt>LOCATION :</dt>
	    <dd><%= @artist.location.upcase %></dd>

	    <dt>WHEN :</dt>
	    <% unless @artist.active %>
	    <dd><%= @artist.start_date.year.to_s + " - " + @artist.end_date.year.to_s %></dd>
	    <% else %>
	    <dd><%= @artist.start_date.year.to_s + " - " + DateTime.now.year.to_s %></dd>
	    <% end %>
	</dl>

		<p>
			FORWIND RELEASES :
		</p>
  		<ul>
		<% @artist.releases.each do |rel| %>
		<li><a href="<%= "/releases/" + rel.cat %>"><%= rel.title + " - " + rel.cat %></a></li>
		<% end %>
		</ul>
		<p>
			EXTERNAL LINKS :
		</p>
			<ul>
			<% @artist.links.each do |link| %>
			<li><a href=<%= link.location %>><%= external_link_trimmer(link.location) %></a></li>
			<% end %>
			</ul>
</div>

</div>


