<% self.respond_to?(:title) && title(@blog_post.title) %>
<% @show_title = false -%>
<%= stylesheet_link_tag 'blog_kit' %>
<%= stylesheet_link_tag 'syntax/' + (BlogKit.instance.settings['theme'] || 'mac_classic') %>
<div class='blogRightHandNav'>
	<img src=<%=File.join(@s3_images, "index", "podcastRSS_icon_small.png")%>>
	<a href="http://www.forwind.net/blog_posts.atom">ATOM FEED</a>
<%= blog_tags_list %>
</div>

<%= render :object => @blog_post, :partial => 'blog_posts/blog_post', :locals => {:show_comments => false, :show_br => false} %>

<%= render :partial => 'blog_posts/admin_links' %>
