<h1 class="visually-hidden">Forwind &mdash; home</h1>

<section class="content-block content-block__banner">
	<%= raw banner %>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<span>Latest news</span>
		<a href="/news">
			<strong>View the news archive</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<% @news.each do |news_item| %>
			</br>
			<div class="column-block">
				<h3 class="heading heading--article-title">
					<a href=<%="/news/#{news_item.slug}"%>><%= news_item.title %></a>
				</h3>
				<div class="content-block--article">
					<%= raw news_item.content %>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<span>Selected releases</span>
		<a href="/releases">
			<strong>Explore our full back catalogue</strong>
		</a>
	</h2>
	<div class="column-container column-container__3-cols">
		<% @small_releases.each do |release| %>
			<figure class="column-block column-block__figure">
				<a href=<%= "/releases/" + release.cat.downcase%>>
					<img src=<%= File.join(@release_images_path, release.cat.downcase + "_digital_cover.jpg")%>>
				</a> 
				<figcaption class="figcaption">
					<span class="text-title"><%= raw(munge_artist_names(release).titleize) %></span>
					<a href=<%= "/releases/" + release.cat.downcase%>>
						<span class="text-title"><%= release.title %></span>
					</a>
				</figcaption>  
			</figure>
		<% end %>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<span>Featured artists</span>
		<a href="/artists">
			<strong>Browse all artists</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols"> 
		<% @small_artists.each do |artist| %>
			<figure class="column-block column-block__figure">
				<a href=<%= "/artists/" + artist.slug %>>
					<img src= <%= File.join(@s3_images, "artists", artist.image) %>
				</a> 
				<figcaption class="figcaption">
					<a href=<%= "/artists/" + artist.slug %>>
						<span class="text-title"><%=artist.name%></span>
					</a>
				</figcaption>  
			</figure>
		<% end %>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<span>Forwind Podcast highlight</span>
		<a href="https://www.mixcloud.com/Forwind/uploads/" target="home">
			<strong>All of our podcasts on Mixcloud</strong>
		</a>
	</h2>
	<div class="column-block">
		<iframe width="100%" height="120" src=<%=@podcast.mixcloud_embed%> frameborder="0" ></iframe>
		<figcaption class="figcaption">
			<a href=<%=@podcast.mixcloud_url%>>
				<span class="text-title"><%= @podcast.title %></span>
				<span class="text-title">Compiled & mixed by <%= @podcast.compiler %></span>
				<span class="text-title">Genre: <%= @podcast.genre %></span>
			</a>
		</figcaption>  
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<span>About</span>
		<a href="/about">
			<strong>More details and contact address</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<div class="column-block">
			<p>
				Experimental ambience / Erratic rhythms / Reclaimed reverberations under the global floorboards / Detected and developed in Dublin and Berlin
			</p>
		</div>
		<div class="column-block">
			<p>
				Our aim is to provide a platform for music that maximises the expressive potential of sound, instruments and voices either through physical or electronic means, whether composed, constructed or improvised.
			</p>
		</div>
	</div>
</section>
