<h1 class="visually-hidden">Forwind &mdash; home</h1>

<section class="content-block content-block__banner">
	<h2 class="heading heading--floating-button">
		<a href="#">Out now</a>
	</h2>
	<figure>
		<a href="#">
			<img src="https://s3-eu-west-1.amazonaws.com/forwind-net-images/assets/teaser_dummy.jpg" alt="FWD19" />
		</a>    
	</figure>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Latest news
		<a href="/news">
			<strong>News archive</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<% @news.each do |news_item| %>
			<div class="column-block">
				<h3 class="heading heading--article-title">
					<a href=<%="/news/#{news_item.id}"%>><%= news_item.title %></a>
				</h3>
				<div class="content-block--article">
					<%= raw news_item.content %>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Featured releases
		<a href="/releases">
			<strong>Explore back catalogue</strong>
		</a>
	</h2>
	<div class="column-container column-container__3-cols">
		<% @small_releases.each do |release| %>
			<figure class="column-block column-block__figure">
				<a href=<%= "/releases/" + release.cat%>>
					<img src=<%= File.join(@s3_images, "releases", small_releases_image(release))%>>
				</a> 
				<figcaption class="figcaption">
					<a href="#">
						<span class="text-title"><%= raw(munge_artist_names(release)) %></span>
						<span class="text-title"><%= release.title %></span>
					</a>
				</figcaption>  
			</figure>
		<% end %>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Featured artists
		<a href="/artists">
			<strong>Browse all artists</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols"> 
		<% @small_artists.each do |artist| %>
			<figure class="column-block column-block__figure">
				<a href=<%= "/artists/" + artist.slug %>>
					<img src= <%= File.join(@s3_images, "artists", small_artists_image(artist.image)) %>
				</a> 
				<figcaption class="figcaption">
					<a href="#">
						<span class="text-title"><%=artist.name%></span>
						<!-- span class="text-title">Scripts</span -->
					</a>
				</figcaption>  
			</figure>
		<% end %>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Featured podcast
		<a href="https://www.mixcloud.com/forwind" target="home">
			<strong>Listen to more podcasts</strong>
		</a>
	</h2>
	<div class="column-block">
		<iframe width="100%" height="120" src=<%=@podcast.mixcloud_embed%> frameborder="0" ></iframe>
		<figcaption class="figcaption">
			<a href=<%=@podcast.mixcloud_url%>>
				<span class="text-title"><%= @podcast.title %></span>
				<span class="text-title">Compiled & mixed by <%= @podcast.compiler %></span>
				<span class="text-title">Genre : <%= @podcast.genre %></span>
			</a>
		</figcaption>  
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		About
		<a href="/about">
			<strong>Read on and contact details</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<div class="column-block">
			<p>
				Forwind (pronounced <em title="fɔː waɪnd">fɔː waɪnd</em>) is a multi-genre label currently operating from Berlin, Manchester and London.
			</p>
			<p>
				We&#39;re not worried about fitting neatly into one section in the record shop. Our passion is for adventurous music with a serious attention to detail, from the performance to the production.
			</p>
		</div>
		<div class="column-block">
			<p>
				Our aim is to provide a platform for music that maximises the expressive potential of sound, instruments and voices either through physical or electronic means, whether composed, constructed or improvised.    
			</p>
		</div>
	</div>
</section>
<section class="content-block content-block__logos">
	<a href="https://www.imro.ie/"><img class="img img__logo" src="https://s3-eu-west-1.amazonaws.com/forwind-net-images/assets/imro_logo.png" alt="IMRO" /></a>
	<a href="http://state51.com/"><img class="img img__logo" src="https://s3-eu-west-1.amazonaws.com/forwind-net-images/assets/state51_logo.png" alt="State 51" /></a>
</section>