<div id="content_container">
<div id="home_promo_header">

<%=raw banner() %>

<p></p>
</div>

<section id="container_2grid_left">
<div class="title-hr-2gridleft">
<hr/>
<h2>Featured Releases</h2>
<hr/>
</div>

<% @small_releases.each do |release| %>
<% unless @small_releases.index(release) > 3 %>
<div class="home-promo-boxgrid captionfull">

<a href=<%= "/releases/" + release.cat %>>
	<img src= <%= File.join(@s3_images, "releases", release.cat.downcase + "_sm.jpg") %>></img>
</a>

<div class="cover boxcaption">
<h2><a href=<%= "/releases/" + release.cat %> title="..."><%= release.cat %>:<%= release.title %></a></h2>
<p><%= release.short_desc.html_safe %></p>
</div>
</div>
<% end %>
<% end %>

</section>

<aside>

<div id="home_podcast_promo">

	<div class="title-hr-1gridright">
	<hr/>
	<h2>Featured podcast</h2>
	<hr/>
	</div>

	<div class="home-podcast-boxgrid podcast-captionfull">
			<a href=<%= "/podcasts/" + @podcast.id.to_s %> title=<%= @podcast.title %>>
    	<img src=<%=File.join(@s3_images, "podcasts", @podcast.cat_no + "_sm.jpg")%>></a>
    	<div class="podcast-cover podcast-boxcaption">
        	<h2><a href=<%= "/podcasts/" + @podcast.id.to_s %> title=<%= @podcast.title %>><%= @podcast.title %></a></h2>
        	<p>Compiled & Mixed by <%= @podcast.artist.name %><br/>Genre: <%= @podcast.genre %></p>
    	</div>
	</div>

</div>

</aside>

</div>







