<h1 class="visually-hidden">News</h1>
<section>
    <% @news.each do |new| %>
        <div class="column-block" style="width:70%;justify-content: center;">
        <div class="content-block content-block--title-heading" style="overflow: visible;clear:both;">
            <h2 class="heading heading--article-title">
                <a href=<%="/news/#{new.slug}"%>><%= new.title %></a>
                <span class="sub-heading">Posted by <%= new.author %> on <time><%= format_time(new.date) %></time></span>
            </h2>
            <% if new.images.size == 1 %>
                <% unless new.images[0].target.nil? %>
                    <a href=<%=new.images[0].target%>>
                <% end %>
                <img src=<%=new.images[0].path%> class="news-image-top">
                <% unless new.images[0].target.nil? %>
                    </a>
                <% end %>
            <% end %>
        </div>
        <div class="content-block content-block--news">
            <p>
                <%= raw new.content %>
            </p>
            <% if new.images.size > 1 %>
                <% new.images.each do |image| %>
                    <a href= <%=image.path%> class="gallery" >
                        <img src=<%=image.path%> class="news-image-bottom">
                    </a>
                <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
</section>