<section class="column-block">
    <table class="table table--catalogue">
        <thead>
            <th></th>
            <th>Release</th>
            <th>Format</th>
            <th>Date</th>
        </thead>
        <tbody>
            <% @releases.each do |release| %>           
                     <td class="table-cell table-cell--cover">
                        <a href=<%= "/releases/" + release.cat.downcase %>>
                            <img class="img img--thumb" src=<%= File.join(@s3_images, "releases", release.cat.downcase + "_sm.jpg")%> alt="Alt desc" />
                        </a>
                    </td>
                    <td class="table-cell table-cell--release">
                        
                        <p>
                            <span><%= raw munge_artist_names(release) %></span> 
                            <a href=<%= "/releases/" + release.cat.downcase %>>
                                <span><%= release.title %></span>
                            </a>
                        </p>   
                        
                    </td>
                    <td class="table-cell table-cell--format">
                        <a href=<%= "/releases/" + release.cat %>>
                        <p>
                            <span><%= release.cat %></span>
                            <span><%= release.preferred_format %></span>
                        </p>
                        </a>
                    </td>
                    <td class="table-cell table-cell--date">
                        <a href=<%= "/releases/" + release.cat %>>
                        <%= release.release_date.strftime("%Y/%m/%d") %>
                        </a>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>
