<div id="release_container">

<img src=<%= File.join(@s3_images, "releases", @release.cat.downcase + ".png")%>>

<ol>
<li><dl><dt><span>ARTIST :</span> <a href=<%= "/artists/" + @release.artist.slug %>><%= @release.artist.name.upcase%></a></dt></dl></li>
<li><dl><dt><span>ALBUM :</span><%= @release.title.upcase %></dt></dl></li>
<li><dl><dt><span>RELEASE DATE :</span> <%= @release.release_date.strftime("%Y/%m/%d")%></dt></dl></li>
<li><dl><dt><span>LABEL :</span> FORWIND</dt></dl></li>
<li><dl><dt><span>CATALOGUE # :</span><%= @release.cat %></dt></dl></li>
</ol>
<ul>
<% tracklistings(@release).each do |track| %>
<% if track == "break" %>
</br>
<% else %>
<li><dl><dt><span><%= track["number"] %>:</span><dd style="color:white;"><%= track["title"] %></dd><%= track["length"]%></dt></dl></li>
<% end %>
<% end %>
</ul>

<%= raw @release.stream_location %>
</div>
<div id="new_release_details">
<p>
<%= @release.long_desc.html_safe %>
</p>

<ol>
<% unless @release.reviews.empty? %>
  Online reviews from
  <% @release.reviews.each do |link| %>
    <a href=<%= link.location %>><%= link.vendor %></a>
    <% if @release.reviews.size > 1 %>
      <% if @release.reviews.index(link) == @release.reviews.size - 2 %>
        and
      <% elsif @release.reviews.index(link) != @release.reviews.size - 1 %>
        ,
      <% end %>
    <% end %>
<% end %>
<br/>
<% end %>

<% if @release.available == false %>
  Availability links to follow shortly.
<% else %>
  <% unless @release.physicals.empty? %>
    <% unless @release.reviews.empty? %>
      <br/>
    <% end %>
    <%= @release.preferred_format %> available from 
    <% @release.physicals.each do |link| %>
       <a href=<%= link.location %>><%= link.vendor %></a>
        <% if @release.physicals.index(link) == @release.physicals.size - 2 %>
        and
        <% elsif @release.physicals.index(link) != @release.physicals.size - 1 %>
        ,
      <% end %> 
    <% end %>
  <br/>
  <% end %>
  <% unless @release.downloads.empty? %>
    <% unless @release.reviews.empty?  && @release.physicals.empty? %>
      <br/>
    <% end %>
    Flac and Mp3 available from 
    <% @release.downloads.each do |link| %>
      <a href=<%= link.location %>><%= link.vendor %></a>
        <% if @release.downloads.index(link) == @release.downloads.size - 2 %>
        and
        <% elsif @release.downloads.index(link) != @release.downloads.size - 1 %>
        ,
        <% end %> 
    <% end %>
  <% end %>

  <br/>

  <% unless @release.streams.empty? %>
  <br/>
    <% @release.streams.each do |link| %>
      Stream sampler from <%= link_to link.vendor, link.location %> 
    <% end %>
  <% end %>

<% end %>
</ol>
</div>

