<div id="release_container">

<img src=<%= "/images/releases/" + @release.cat.downcase + ".png" %>>

<ol>
<li><dl><dt><span>ARTIST :</span> <a href=<%= "/artists/" + @release.artist.slug %>><%= @release.artist.name.upcase%></a></dt></dl></li>
<li><dl><dt><span>ALBUM :</span><%= @release.title.upcase %></dt></dl></li>
<li><dl><dt><span>RELEASE DATE :</span> <%= @release.release_date.strftime("%Y/%m/%d")%></dt></dl></li>
<li><dl><dt><span>LABEL :</span> FORWIND</dt></dl></li>
<li><dl><dt><span>CATALOGUE # :</span><%= @release.cat %></dt></dl></li>
</ol>
<p style="height: <%= tracklist_offset(@release) %>px"></p>
<ul>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="320" height="240" id=<%= "audio_" + @release.cat.downcase %> + align="middle"> <param name="FlashVars" value=<%= "xmlURL=/xml/tracklist_" + @release.cat.downcase + ".xml"%>>
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="false" />
    <param name="movie" value="/tracklist.swf" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param name="salign" value="lt" />
    <param name="bgcolor" value="#2f2d2e" />
    <embed src="/tracklist.swf" flashvars=<%= "xmlURL=/xml/tracklist_" + @release.cat.downcase + ".xml"%> quality="high" scale="noscale" salign="lt" bgcolor="#2f2d2e" width="320" height="<%= tracklist_height(@release) %>px" name=<%= "xmlURL=/xml/tracklist_" + @release.cat.downcase + ".xml" %> align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>
	</ul>

</div>

<div id="new_release_details">
<p>
<%= @release.long_desc.html_safe %>
</p>

<ol>
<% unless @release.reviews.empty? %>
  Online reviews from
  <% @release.reviews.each do |link| %>
    <a href=<%= link.location %>><%= link.vendor %></a>
    <% if @release.reviews.size > 1 %> 
      <% if @release.reviews.index(link) == @release.reviews.size - 2 %>
        and
      <% elsif @release.reviews.index(link) != @release.reviews.size - 1 %>
        ,
      <% end %> 
    <% end %>
<% end %>
<br/>
<% end %>

<% if @release.available == false %>
  Availability links to follow shortly.
<% else %>
  <% unless @release.physicals.empty? %>
    <%= @release.preferred_format %> available from 
    <% @release.physicals.each do |link| %>
       <a href=<%= link.location %>><%= link.vendor %></a>
        <% if @release.physicals.index(link) == @release.physicals.size - 2 %>
        and
        <% elsif @release.physicals.index(link) != @release.physicals.size - 1 %>
        ,
      <% end %> 
    <% end %>
  <br/>
  <% end %>
  <% unless @release.downloads.empty? %>
    Flac and Mp3 available from 
    <% @release.downloads.each do |link| %>
      <a href=<%= link.location %>><%= link.vendor %></a>
        <% if @release.downloads.index(link) == @release.downloads.size - 2 %>
        and
        <% elsif @release.downloads.index(link) != @release.downloads.size - 1 %>
        ,
        <% end %> 
    <% end %>
  <% end %>

  <br/>

  <% unless @release.streams.empty? %>
    <% @release.streams.each do |link| %>
      Stream from <%= link_to link.vendor, link.location %> 
    <% end %>
  <% end %>

<% end %>
</ol>
</div>

