<div id="content_container">

<div id="container_2grid_left">
<img src=<%= "/images#{@podcast.file_name}.jpg" %>>
<dl class="podcastTracks">
<% @podcast.track_list.tracks.sort_by { |tr| tr.position }.each do |t| %>
<dt><%= (t.position + 1).to_s %></dt><dd><%= t.artist_title %></dd><dd class="podcastTrackLabel"><%= t.label.upcase %></dd>
<% end %>
</dl>
</div>


<div id= "container_1grid_right">
<dl>
    <dt>TITLE :</dt>
    <dd><%= @podcast.title.upcase %></dd>
 
    <dt>MIXED BY :</dt>
    <dd><%= @podcast.artist.name.upcase %></dd>
 
    <dt>RELEASE DATE :</dt>
    <dd><%= @podcast.updated_at.strftime("%Y/%m/%d") %></dd>

	<dt>CATALOGUE # :</dt>
    <dd><%= @podcast.cat_no %></dd>
<% if @podcast.available? %>
</dl>


<div id="podcast_download">
	<p>DOWNLOAD PODCAST</p>
	<p class="podcastDuration">(<%= @podcast.duration.to_s %> minute, 320 kbps, mp3 mix)</p>

<dl>
	<dd><img src="/images/index/podcastFILE_icon.png"></dd>
	<dt><a href=<%="https://s3-eu-west-1.amazonaws.com/forwindpodcasts/" + @podcast.cat_no + '.mp3'%>>MP3 FILE</a></dt>
	<% end %>
	<dd><img src="/images/index/podcastRSS_icon.png"></dd>
	<dt><a href= "http://www.forwind.net/podcasts.atom">ATOM FEED</a></dt>
</dl>
</div>
</div>








</div>
