<!DOCTYPE html>
    <head>
    <title>forwind | <%= @context.downcase%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="Oq2AaagB6c_NXK25RChwoHq0tn7yRod2WRabKCgsYD8" />
        <meta name="description" content="An independent music publishing label born in 2009. " />
        <meta name="keywords" content="Forwind, Jeff Carey, Clang Sayne, James O'Sullivan, CjC, Atom eye, Sonnamble, Fourth Page, Tomonari Nozaki, independent record label, London, electronic music"  />
        <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "http://www.forwind.net",
        "name": "Forwind Publishing",
        "description" : "An independent publishing label established in 2009",
        "contactPoint": [{
            "@type": "ContactPoint",
            "email" : "webquery@forwind.net"
        }],
        "department": [{
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.forwind.net/releases",
            "name": "Forwind Releases",
            "description" : "Browse our full catalogue of releases"
        }]
        }
        </script>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Rosarivo" rel="stylesheet" />
        <%= stylesheet_link_tag('styles') %>
        <link rel="icon" href="/images/index/favicon.ico" type="image/x-icon" />
    </head>
    <body class="page--<%= controller.controller_name %>">
        <main class="layout-container">
            <header>
                <div class="section-wrapper section-wrapper__header">
                    <span class="logo">
                        <a href="/">forwind</a>
                    </span>
                    <%= render(:partial => "shared/navigation") %>
                </div>
            </header>
            <div class="content-container layout-block">
                <%= yield %>
            </div>
            <footer>
                <div class="section-wrapper column-container column-container__2-cols column-container--v-centered">
                    <nav class="nav column-block">
                        <ul class="nav--social-media">
                            <li><a href="http://forwind.bandcamp.com">Bandcamp</a></li>
                            <li><a href="http://www.facebook.com/pages/Forwind/143631062329300">Facebook</a></li>
                            <li><a href="http://twitter.com/#!/forwindings">Twitter</a></li>
                            <li><a href="http://soundcloud.com/forwind">Soundcloud</a></li>
                            <li><a href="https://www.youtube.com/channel/UC7KlAGrDB_X5BxX4HrRsXHA">YouTube</a></li>
                        </ul>    
                    </nav>
                    <div class="copyright-notice column-block">
                        forwind.net &#169; <%= Time.current.year %>
                    </div>
                </div>
            </footer>
        </main>
        <%= javascript_include_tag "application" %>
        <script src='http://www.google-analytics.com/ga.js' type='text/javascript'></script->
        <script type="text/javascript">
            try{
                var pageTracker = _gat._getTracker("UA-8508337-1");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>

