<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
  <title>Forwind | <%= @context.humanize %> | <%= @share_details[:title_subtext] %></title>
<meta name="google-site-verification" content="Oq2AaagB6c_NXK25RChwoHq0tn7yRod2WRabKCgsYD8" />
<meta name="description" content= "Forwind | <%= @context.humanize %> | <%= @share_details[:title_subtext] %>" />
<meta name="keywords" content="Forwind, <%= @context.humanize %>, <%= @share_details[:title_subtext] %>" />   
  <%= stylesheet_link_tag('forwind') %>
  <%= stylesheet_link_tag('sharre') %>
<%= auto_discovery_link_tag(:atom, "/feeds.atom") %>
 <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script src="/javascripts/jquery.sharrre-1.3.4.min.js"></script>
<link rel="icon" href="/images/index/favicon.ico" type="image/x-icon" />
	</head>
    <body>
      <div id="outer_container">
          <div id="crumb_trail">
          </div>
           <div id="inner_container">
	        	<%= render(:partial => "shared/home/tabs") %>
            	<%= yield %>
				<div id="footer">
							<div id="footer-links">
						<hr/>
						<h2>LINKS</h2>
						<hr/>
						<div id="socialLinks">
							<ul>
							<li><a href="http://soundcloud.com/forwind" title="Visit our SoundCloud page" target="_blank"><img src='/images/index/soundcloud-24x24.png'></a></li>
							<li><a href="http://twitter.com/#!/forwindings" title="View our tweets" target="_blank"><img src='/images/index/twitter-24x24.png'></a></li>
							<li><a href="http://www.facebook.com/pages/Forwind/143631062329300" title="Visit our Facebook page" target="_blank"><img src='/images/index/facebook-24x24.png'></a></li>
							<li><a href="http://www.mixcloud.com/Forwind/" title="Visit our Vimeo page" target="_blank"><img src="/images/index/mixcloud.png" alt="Mixcloud" /></a></li>
						<ul>
						</div>
					</div>
					<!--div id="footer-subscribe">
						<div class="title-hr-1gridright">
						<hr/>
						<h2>Subscribe to our newsletter</h2>
						<hr/>
						</div>
<form accept-charset="UTF-8" action="/home/subscribe" method="post">
							<div id="newshold">
<input type="text" id="newsinput" placeholder="enter your email address" name="email"/><input type="submit" id="newssub" value="subscribe" />
							</div>
</form>
					</div-->

				</div>
				</div>



				<div id="legal-notice">
				<p class="copyright"><i>for/wind.net </i>&#169; <i><script type="text/javascript">document.write((new Date()).getFullYear());</script></i></p>
				</div>

			</div>


      <script src='http://www.google-analytics.com/ga.js' type='text/javascript'></script>
  		<script type="text/javascript">
        try{
          var pageTracker = _gat._getTracker("UA-8508337-1");
          pageTracker._trackPageview();
          } catch(err) {}
      </script>
    </body>
</html>

