<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
  <title>Forwind | <%= @context.downcase%></title>
  <%= stylesheet_link_tag('forwind') %>
     <!--[if IE]>
    <style>
    #form_inner_container{
    margin: 0px;
    padding:0px;
    }
    #home_col3 img{
  	margin: 0 0 0 0;
    	display: inline;
    }

    </style>
<![EndIf]-->
</head>
    <body>
         <div id="form_crumb_trail_container">
         	<% if @use_ie_warning == true %>
         		<%= render(:partial => "shared/ie_header") %>
           	<% end %>
           <%= render(:partial => "shared/crumb_trail") %>
           <div id="form_inner_container">
            <hr>
	           <%= render(:partial => "shared/software/tabs") %> 
            <hr/>
            <%= @content_for_layout %>
		 </div>
  </div>          
    </body>
</html>

